body {
	height: 100%;
}
* {
	box-sizing: border-box;
}

#button {
	margin:10px;
	background-color: #9ebdef;
}

#breed-form {
	float: right;
	margin-right: 20px;
}
.container {
	max-width: 80%;
	float: left;
}
.item {
	margin: 20px;
	min-height: 300px;
	float: left;	
}

#add-breed	{
	background-color: #9ebdef;
	
}